body{
    background-color: gray;
}
h1{
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

h4{
    color: white;
    text-align: center;
}

h2{
    color: #262525;
}

div{
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.fotos{
    width: 350px; 
}

.final{
    margin-top: -20px;
}
